CREATE DATABASE CongNgheNet
USE CongNgheNet
GO

CREATE TABLE [dbo].[CauHoi](
	[maCauHoi] [int] IDENTITY(1,1) NOT NULL,
	[maChuDe] [int] NULL,
	[noiDung] [ntext] NULL,
	[dapAnA] [ntext] NULL,
	[dapAnB] [ntext] NULL,
	[dapAnC] [ntext] NULL,
	[dapAnD] [ntext] NULL,
	[dapAnDung] [int] NULL,
 CONSTRAINT [PK_CauHoi] PRIMARY KEY CLUSTERED 
(
	[maCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


CREATE TABLE [dbo].[ChuDe](
	[maChuDe] [int] IDENTITY(1,1) NOT NULL,
	[tenChuDe] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChuDe] PRIMARY KEY CLUSTERED 
(
	[maChuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoi_ChuDe] FOREIGN KEY([maChuDe])
REFERENCES [dbo].[ChuDe] ([maChuDe])

ALTER TABLE [dbo].[CauHoi] CHECK CONSTRAINT [FK_CauHoi_ChuDe]

